eqtl2gwas_pleiotropy.egg-info
eqtl2gwas_pleiotropy.Rproj
*.fig.bak
gwas2eqtl_pleiotropy.egg-info/
gwas2eqtl_tools.egg-info
.idea
ms00_merge.aux
ms00_merge.bbl
ms00_merge.blg
ms00_merge.log
ms00_merge.out
ms00_merge.pdf
ms01_main.aux
ms01_main.bbl
ms01_main.blg
ms01_titlepage.aux
ms02_floats.aux
ms02_intro.aux
ms03_results.aux
ms03_suppl.aux
ms04_discussion.aux
ms05_floats.aux
ms/bbding.sty
ms/bioRxiv.cls
ms/bioRxiv_logo.png
ms/bxv_abbrvnat.bst
ms/chemgreek.sty
ms/ifsym.sty
ms/internal_seminar_20220119.pdf
ms/mhchem.sty
ms/ms_00_merge_0.1.1.pdf
ms/ms_01_main.blg
ms/ms_pleiotropy.bib.bak
ms/ms_pleiotropy.bib.sav.tmp
ms/orcidlink.sty
ms/presentation_20220329.pdf
ms/presentation_20220429.pdf
ms/progressreport_20220421.pdf
ms/siunitx-abbreviations.cfg
ms/siunitx.sty
ms/textgreek.dtx
ms/textgreek.ins
ms/textgreek.log
ms/textgreek.sty
ms/todo.pdf
out
poster_eccb22_barcelona/a0header.ps
poster_eccb22_barcelona/a0poster.cls
poster_eccb22_barcelona/a0size.sty
poster_eccb22_barcelona/agsm.bst
poster_eccb22_barcelona.bbl
poster_eccb22_barcelona/biblio.bib
poster_eccb22_barcelona.blg
poster_eccb22_barcelona/img_tmp
poster_eccb22_barcelona/indent.log
poster_eccb22_barcelona/nature.bst
poster_eccb22_barcelona/naturemag.bst
poster_eccb22_barcelona/nature.sty
poster_eccb22_barcelona/poster-a4.ps
poster_eccb22_barcelona/poster_eccb22_barcelona.aux
poster_eccb22_barcelona/poster_eccb22_barcelona.dvi
poster_eccb22_barcelona/poster_eccb22_barcelona.log
poster_eccb22_barcelona/poster_eccb22_barcelona.out
poster_eccb22_barcelona/poster_eccb22_barcelona.pdf
poster_eccb22_barcelona/tcrm3583.log
presentation_gold2022_paris.aux
presentation_gold2022_paris.log
presentation_gold2022_paris.nav
presentation_gold2022_paris.out
presentation_gold2022_paris.pdf
presentation_gold2022_paris/presentation_gold2022_paris.aux
presentation_gold2022_paris/presentation_gold2022_paris_bak.log
presentation_gold2022_paris/presentation_gold2022_paris.dvi
presentation_gold2022_paris/presentation_gold2022_paris.log
presentation_gold2022_paris/presentation_gold2022_paris.nav
presentation_gold2022_paris/presentation_gold2022_paris.out
presentation_gold2022_paris/presentation_gold2022_paris.pdf
presentation_gold2022_paris/presentation_gold2022_paris.snm
presentation_gold2022_paris/presentation_gold2022_paris.toc
presentation_gold2022_paris/presentation_goldwp2022_paris.aux
presentation_gold2022_paris/presentation_goldwp2022_paris.dvi
presentation_gold2022_paris/presentation_goldwp2022_paris.log
presentation_gold2022_paris/presentation_goldwp2022_paris.nav
presentation_gold2022_paris/presentation_goldwp2022_paris.out
presentation_gold2022_paris/presentation_goldwp2022_paris.snm
presentation_gold2022_paris/presentation_goldwp2022_paris.toc
presentation_gold2022_paris.snm
presentation_gold2022_paris.toc
__pycache__
.RData
.Rhistory
.Rproj.user
.snakemake/
texput.log

