out
*.sif
.Rhistory
.idea
__pycache__
gwas2eqtl_tools.egg-info
.snakemake/
.Rproj.user
.RData
*.Rproj
eqtl2gwas_pleiotropy.egg-info
ms/*.aux
ms/*.bbl
ms/*.blg
ms/*.bst
ms/*.cls
ms/*.cfg
ms/*.dvi
ms/*.log
ms/*.nav
ms/*.out
ms/*.pdf
ms/*.sif
ms/*.snm
ms/*.sty
ms/*.toc
textgreek.dtx
textgreek.ins
ms_00_merge.pdf
ms/bioRxiv_logo.png
