*.fig.bak
.RData
.Rhistory
.Rproj.user
.idea
.snakemake/
__pycache__
eqtl2gwas_pleiotropy.Rproj
eqtl2gwas_pleiotropy.egg-info
gwas2eqtl_tools.egg-info
ms/bbding.sty
ms/bioRxiv.cls
ms/bioRxiv_logo.png
ms/bxv_abbrvnat.bst
ms/chemgreek.sty
ms/ifsym.sty
ms/internal_seminar_20220119.pdf
ms/mhchem.sty
ms/ms_00_merge (copy).pdf
ms/ms_00_merge_0.1.1.pdf
ms/ms_01_main.blg
ms/orcidlink.sty
ms/presentation_20220329.pdf
ms/presentation_20220429.pdf
ms/progressreport_20220421.pdf
ms/siunitx-abbreviations.cfg
ms/siunitx.sty
ms/textgreek.dtx
ms/textgreek.ins
ms/textgreek.log
ms/textgreek.sty
ms/todo.pdf
ms00_merge.aux
ms00_merge.log
ms00_merge.out
ms00_merge.pdf
ms01_main.aux
ms01_main.bbl
ms01_main.blg
ms02_floats.aux
ms03_suppl.aux
out