crossmap
matplotlib
mygene
mysql-client
mysql-connector-python
numpy
odfpy
pandas
requests
seaborn
snakemake
sqlalchemy
statannotations
statsmodels
suds
termcolor
xlsxwriter
psycopg2-binary==2.9.5
sqlalchemy-utils
